{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry", // 编译es6及其新语法特性
                "corejs": 3
            }
        ],
        [
            "@babel/preset-react" // 编译react
        ],
        [
            "@babel/typescript" // 编译typescript
        ]
    ],
    "plugins": [
        [ // antd 按需加载css
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": true
            }
        ]
    ]
}